body, html{
  font-family: 'Pontano Sans', sans-serif;
  height:100%;
}
.libraryView{
  
}
.songQueue tr:first-child {
  background-color: #90FFA2;
}

tr:nth-child(even) {
  background-color: #eee;
  border: solid black 1px;
}

th {
  font-weight: 1000;
  color: white;
  background: -webkit-linear-gradient(rgb(27, 158, 116), rgb(34, 82, 115));
  background: linear-gradient(rgb(27, 158, 116), rgb(34, 82, 115));
}

table, th{
  width: 100%;
  max-width: 960px;
  margin:0 auto;
}

td{
  
}

audio{
  width: 100%;
  position: relative;
  top: 3px;
}
.artists{
  width:25%;
}
.titles{
  width: 70%;
}

.playCount {
  width: 5%;
}
.wrapper{
  
}
h1{
  display: inline-block;
}
#logo{
  width: 45px;
  position: relative;
  top: 15px;
  margin-right: 5px;
}
.nav{
  max-width: 960px;
  margin:0 auto;
}